.has-no-padding {
    padding: 0;
}

.has-only-top-padding {
    padding-bottom: 0;
}

.has-only-bottom-padding {
    padding-top: 0;
}

.has-no-margin {
    margin: 0;
}

.has-no-top-margin {
    margin-top: 0;
}

.has-no-bottom-margin {
    margin-bottom: 0;
}
