.site {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.site-header {
    width: $size__site-main;
}

.site-content {
    .content-area {
        float: left;
        margin: 0 (-$size__site-sidebar) 0 0;
        width: $size__site-main;

        .site-main {
            margin: 0 $size__site-sidebar 0 0;
        }
    }

    .widget-area {
        float: right;
        overflow: hidden;
        width: $size__site-sidebar;
    }
}

.site-footer {
    clear: both;
    width: $size__site-main;
    margin-top: auto;
}

.site-header__inner-container,
.site-footer__inner-container {
    width: $size__site-content;
    max-width: $max-size__site-content;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Set a maximum responsive content-width.
 *
 * Applies responsive logic for the following selectors having the .responsive-max-width
 * class:
 *
 * .entry-header,
 * .entry-footer,
 */
.responsive-max-width {
	@extend %responsive-aligndefault;
}

@import "no-sidebar";
