.no-sidebar {
    .site-content {
        width: $size__site-main;
        max-width: none;

        .content-area {
            float: none;
            margin-left: auto;
            margin-right: auto;

            .site-main {
                margin-right: 0;
            }
        }
    }
}
