$horizontal-padding: $spacing-horizontal * 2;

$content-width-flex: 100%;
$content-width-s: calc(#{$breakpoint-s} - #{$horizontal-padding});
$content-width-m: calc(#{$breakpoint-m} - #{$horizontal-padding});
$content-width-l: calc(#{$breakpoint-l} - #{$horizontal-padding});
$content-width-xl: calc(#{$breakpoint-xl} - #{$horizontal-padding});
$content-width-xxl: calc(#{$breakpoint-xxl} - #{$horizontal-padding});

%responsive-aligndefault {
    max-width: $content-width-flex;
	margin-left: auto;
	margin-right: auto;

	@include media-query('mobile-landscape') {
		max-width: $content-width-s;
	}

	@include media-query('tablet') {
		max-width: $content-width-m;
	}

	@include media-query('tablet-landscape') {
		max-width: $content-width-l;
	}

	@include media-query('laptop') {
		max-width: $content-width-l;
	}

	@include media-query('desktop') {
		max-width: $content-width-l;
	}
}

%responsive-alignwide {
    max-width: $content-width-flex;
	margin-left: auto;
	margin-right: auto;

    @include media-query('mobile-landscape') {
		max-width: $content-width-s;
	}

	@include media-query('tablet') {
		max-width: $content-width-m;
	}

	@include media-query('tablet-landscape') {
		max-width: $content-width-l;
	}

	/* Matches normal width until 'laptop' breakpoint */
	@include media-query('laptop') {
		@include alignwide-width($content-width-l);
	}

	@include media-query('desktop') {
		@include alignwide-width($content-width-l);
	}
}

%responsive-alignwide-nested {
    @include alignwide-width-nested($content-width-flex);
	margin-left: auto;
	margin-right: auto;

	@include media-query('mobile-landscape') {
		@include alignwide-width-nested($content-width-s);
	}

	@include media-query('tablet') {
		@include alignwide-width-nested($content-width-m);
	}

	@include media-query('tablet-landscape') {
		@include alignwide-width-nested($content-width-l);
	}

	@include media-query('laptop') {
		@include alignwide-width-nested($content-width-l);
	}

	@include media-query('desktop') {
		@include alignwide-width-nested($content-width-l);
	}
}

%responsive-alignfull {
    width: calc(#{$horizontal-padding} + 100%);
    max-width: calc(#{$horizontal-padding} + 100%);
	margin-left: #{$spacing-horizontal * -1};
	margin-right: #{$spacing-horizontal * -1};

	/* Letting the box-model do most of the work here. */
	@include media-query('mobile') {
        width: inherit;
        max-width: inherit;
		margin-left: inherit;
		margin-right: inherit;
	}
}

%responsive-alignfull-nested {
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	@include media-query('mobile') {
		width: calc(100% - #{$horizontal-padding * 2});
		max-width: 100%;
	}
}

%responsive-alignright {
	margin-right: #{$spacing-horizontal};

	@include media-query('mobile-landscape') {
		margin-right: calc((100vw - #{$content-width-s}) * 0.5);
	}

	@include media-query('tablet') {
        margin-right: calc((100vw - #{$content-width-m}) * 0.5);
	}

	@include media-query('tablet-landscape') {
        margin-right: calc((100vw - #{$content-width-l}) * 0.5);
	}

	@include media-query('laptop') {
        margin-right: calc((100vw - #{$content-width-l}) * 0.5);
	}

	@include media-query('desktop') {
        margin-right: calc((100vw - #{$content-width-l}) * 0.5);
	}
}

%responsive-alignleft {
	margin-left: #{$spacing-horizontal};

	@include media-query('mobile-landscape') {
        margin-left: calc((100vw - #{$content-width-s}) * 0.5);
	}

	@include media-query('tablet') {
        margin-left: calc((100vw - #{$content-width-m}) * 0.5);
	}

	@include media-query('tablet-landscape') {
        margin-left: calc((100vw - #{$content-width-l}) * 0.5);
	}

	@include media-query('laptop') {
        margin-left: calc((100vw - #{$content-width-l}) * 0.5);
	}

	@include media-query('desktop') {
        margin-left: calc((100vw - #{$content-width-l}) * 0.5);
	}
}

%responsive-align-container {
    /*
    width: calc(#{$content-width-flex} - #{$horizontal-padding});
	max-width: calc(#{$content-width-flex} - #{$horizontal-padding});

	@include media-query('mobile-landscape') {
		max-width: #{$content-width-s};
	}

	@include media-query('tablet') {
		max-width: #{$content-width-m};
	}

	@include media-query('tablet-landscape') {
		max-width: #{$content-width-l};
	}

	@include media-query('laptop') {
		max-width: #{$content-width-l};
	}

	@include media-query('desktop') {
		max-width: #{$content-width-l};
	}
    */
}
