.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid $color__border-button;
    border-radius: 3px;
    background: $color__background-button;
    color: rgba(0, 0, 0, .8);
    @include font-size(0.75);
    font-weight: $font__weight-bold;
    line-height: 1;
    padding: 1.5em 2em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
        color: rgba(0, 0, 0, .8);
        border-color: $color__border-button-hover;
    }

    &:active,
    &:focus {
        border-color: $color__border-button-focus;
    }

    &.disabled {
        opacity: 0.3;
        cursor: default;
    }
}
