/*
Theme Name: _s

Adding support for languages written in a right to left (RTL) direction is easy
— it's just a matter of overwriting all the horizontal positioning attributes of
your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support
*/

/*
body {
    direction: rtl;
    unicode-bidi: embed;
}
*/
