body,
button,
input,
select,
optgroup,
textarea {
    color: $color__text-main;
    font-family: $font__primary;
    @include font-size(1);
    line-height: $font__line-height-body;
}

@import "copy";
@import "headings";
