$breakpoint-s: 560px;
$breakpoint-m: 640px;
$breakpoint-l: 782px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1280px;
$breakpoint-xxxl: 1440px;

$breakpoint-s-name: 'mobile';
$breakpoint-m-name: 'mobile-landscape';
$breakpoint-l-name: 'tablet';
$breakpoint-xl-name: 'tablet-landscape';
$breakpoint-xxl-name: 'laptop';
$breakpoint-xxxl-name: 'desktop';

$breakpoints: (
    $breakpoint-s-name: '(max-width: #{$breakpoint-s - 1})',
    $breakpoint-m-name: '(min-width: #{$breakpoint-s}) and (max-width: #{$breakpoint-m - 1})',
    $breakpoint-l-name: '(min-width: #{$breakpoint-m}) and (max-width: #{$breakpoint-l - 1})',
    $breakpoint-xl-name: '(min-width: #{$breakpoint-l}) and (max-width: #{$breakpoint-xl - 1})',
    $breakpoint-xxl-name: '(min-width: #{$breakpoint-xl}) and (max-width: #{$breakpoint-xxl - 1})',
    $breakpoint-xxxl-name: '(min-width: #{$breakpoint-xxl})',
);
