$grid-gutter: $spacing-horizontal * 2;

/*------------------------------------------------------------------------------
Breakpoint-specific column widths and push classes to be generated
- Default column widths: $breakpoint-has-widths: ('mobile', 'mobile-landscape', 'tablet', 'tablet-landscape', 'laptop', 'desktop');
- Default is no push classes
------------------------------------------------------------------------------*/
$breakpoint-has-widths: ('mobile', 'mobile-landscape', 'tablet', 'tablet-landscape', 'laptop', 'desktop');
$breakpoint-has-push: ();
