/* Spacing */
$spacing-unit: $baseline-unit * 2; // 16px
$spacing-horizontal: $baseline-unit * 2; // 16px
$spacing-vertical: $baseline-unit * 4; // 32px

$size__site-content: 80%;
$max-size__site-content: 1440px;
$size__site-main: 100%;
$size__site-sidebar: 25%;
