$baseline-unit: 8px;
$typescale-root: 16px;
$typescale-base: 1rem;
$typescale-ratio: 1.2;

$font__primary: "Roboto", sans-serif;
$font__secondary: "Montserrat", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__weight-bold: 700;
