// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
    width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

/*------------------------------------------------------------------------------
Prefix mixin for generating vendor prefixes
Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

Usage:
// Input:
.element {
    @include prefix(transform, scale(1), moz ms webkit spec);
}

// Output:
.element {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
------------------------------------------------------------------------------*/
@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        @if $prefix == webkit {
            -webkit-#{$property}: $value;
        } @else if $prefix == moz {
            -moz-#{$property}: $value;
        } @else if $prefix == ms {
            -ms-#{$property}: $value;
        } @else if $prefix == o {
            -o-#{$property}: $value;
        } @else if $prefix == spec {
            #{$property}: $value;
        } @else  {
            @warn 'Unrecognized prefix: #{$prefix}';
        }
    }
}

/*------------------------------------------------------------------------------
Media query mixin

Usage:
// Input:
.element {
    @include media('mobile') {
        max-width: 100%;
    }
}

// Output:
@media only screen and (min-width: 560px) and (max-width: 639px) {
    .element {
        max-width: 100%;
    }
}
------------------------------------------------------------------------------*/
@mixin media-query($breakpoint-name) {
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints {
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @if $breakpoint-name == $name and $declaration {
            $breakpoint-found: true;

            @media only screen and #{$declaration} {
                @content;
            }
        }
    }

    @if $breakpoint-found == false {
        @warn 'Breakpoint "#{$breakpoint-name}" does not exist';
    }
}

/*------------------------------------------------------------------------------
Responsive text alignment helper
------------------------------------------------------------------------------*/
@mixin responsive-text-align-helper($breakpoint: '') {
    // sass-lint:disable no-important
    .#{$breakpoint}text-left {
        text-align: left !important;
    }

    .#{$breakpoint}text-right {
        text-align: right !important;
    }

    .#{$breakpoint}text-center {
        text-align: center !important;
    }
}

/*------------------------------------------------------------------------------
Responsive show/hide helper
------------------------------------------------------------------------------*/
@mixin responsive-display-helper($breakpoint: '') {
    // sass-lint:disable no-important
    .#{$breakpoint}show {
        display: block !important;
    }

    .#{$breakpoint}hide {
        display: none !important;
    }
}

/*------------------------------------------------------------------------------
Visually hidden helper
------------------------------------------------------------------------------*/
@mixin visually-hidden() {
    // sass-lint:disable no-important
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

/*------------------------------------------------------------------------------
Visually shown helper
------------------------------------------------------------------------------*/
@mixin visually-shown($position: inherit) {
    // sass-lint:disable no-important
    position: $position !important;
    overflow: auto;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}

/*------------------------------------------------------------------------------
Align wide widths
 - Sets .alignwide widths
------------------------------------------------------------------------------*/
@mixin alignwide-width($width: 100%, $multiplier...) {
	@if length($multiplier) == 0 {
		$multiplier: $spacing-horizontal * 8;
	}

	width: calc(#{$width} + #{$multiplier * 2});
	max-width: calc(100% - #{$spacing-horizontal * 2});
}

@mixin alignwide-width-nested($width: 100%, $multiplier...) {
	@if length($multiplier) == 0 {
		$multiplier: $spacing-horizontal * 8;
	}

	width: calc(#{$width} + #{$multiplier * 2});
	max-width: 100%;
}
