$color__background-datepicker: #fff;
$color__background-selected-datepicker: #4289cc;
$color__border-datepicker: #000;
$color__hover-datepicker: #eee;
$color__text-datepicker: #000;
$color__text-selected-datepicker: #fff;
$color__text-disabled-datepicker: #b9b9b9;

.ui-datepicker {
    width: 100%;
    max-width: 300px;
	background-color: $color__background-datepicker;
	border: 1px solid $color__border-datepicker;
	border-radius: 3px;
	padding: 10px 10px 0 10px;
    font-size: 0.875em;
    display: none;

    a,
    a:hover {
        color: $color__text-datepicker;
    	text-decoration: none;
    }

    .ui-datepicker-header {
    	margin: 1em 0;
    	text-align: center;

        .ui-datepicker-title {
            font-size: 1.125em;
        	font-weight: bold;
        }

        .ui-datepicker-prev,
        .ui-datepicker-next {
            cursor: default;
            height: 13px;
            margin-top: 4px;
            width: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            .ui-icon {
                display: none;
            }
        }

        .ui-datepicker-prev {
            float: left;
            text-align: left;
            background-image: url('assets/icons/left-arrow.svg');
        }

        .ui-datepicker-next {
            float: right;
            text-align: right;
            background-image: url('assets/icons/right-arrow.svg');
        }
    }

    .ui-datepicker-calendar {
        table-layout: fixed;
        width: 100%;

        th,
        td {
        	text-align: center;
        	padding: 8px 0;
        }

        td {
            border-radius: 3px;
            cursor: default;

            &:not(.ui-datepicker-unselectable):not(.ui-datepicker-current-day) {
                @include prefix(transition, (background-color 0.1s ease-in-out, color 0.1s ease-in-out), ms webkit spec);

                &:hover {
                    background-color: $color__hover-datepicker;
                    cursor: pointer;
                }
            }

            &.ui-datepicker-current-day {
                background-color: $color__background-selected-datepicker;

                a {
                    color: $color__text-selected-datepicker;
                    cursor: default;
                }
            }

            &.ui-state-disabled {
                color: $color__text-disabled-datepicker;
            }
        }
    }
}
