/**
 * .alignleft
 */
.alignleft {
	text-align: left;
	float: left;
	margin-top: 0;
	margin-right: #{$spacing-horizontal};
	margin-bottom: #{$spacing-vertical};
}

.entry-content {
    > .alignleft {
        @extend %responsive-alignleft;
    }
}

/**
 * .aligncenter
 */
.aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/**
 * .alignright
 */
.alignright {
	float: right;
	margin-top: 0;
	margin-bottom: #{$spacing-vertical};
	margin-left: #{$spacing-horizontal};
}

.entry-content {
    > .alignright {
        @extend %responsive-alignright;
    }
}

// Make sure siblings of floated elements are top-aligned when nested
.entry-content {
    * {
        > .alignleft + *,
        > .alignright + * {
            margin-top: 0;
        }
    }
}

/**
 * .aligndefault
 */
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment),
.entry-content [class*="inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator) {
	@extend %responsive-aligndefault;
}

/**
 * .alignwide
 */
.alignwide {
	clear: both;
}

.entry-content {
    > .alignwide {
        @extend %responsive-alignwide;
    }
}

.entry-content {
    > .alignwide [class*="inner-container"] {
        > .alignwide {
        	@extend %responsive-alignwide-nested;
        }
    }
}

/**
 * .alignfull
 */
.alignfull {
	clear: both;
}

.entry-content {
    > .alignfull {
        @extend %responsive-alignfull;
    }
}

.entry-content {
    > .alignfull [class*="inner-container"] {
        > .alignwide {
            @extend %responsive-alignwide-nested;
        }
    }
}

// Content alignment
.has-left-content {
	justify-content: flex-start;
}

.has-right-content {
	justify-content: flex-end;
}
